#book-list thead tr th {
  font-size: 30px;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.book-list button {
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 2px 2px #000;
}

.book-list {
  border: 2px solid #000;
  min-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.separator {
  display: flex;
  flex-direction: row;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.39);
}

form input {
  border: 2px solid #000;
  min-width: 300px;
  min-height: 20px;
}

form input::placeholder {
  color: #000;
}

form button {
  align-self: flex-end;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 2px 2px #000;
}

.gray {
  background-color: rgba(201, 188, 188, 0.61);
}
